// Geo Based Pricing  - Razr
// Price in INR for Indian location 
// Paypal for al other locations
//Dropdown Menu - Trainings > Online > Docker > Dates
		                > Classroom > Kubernetes> // Dates
// Check for phone

// Consulting > Data blocks > Calendly Book a slot
// Add more people in About section
// Test your skill - Typeform
// Customer images >reliance jio + intuit + remove formcept
// Merge contact to about
// Test Your Skills
// Contact Us 
// Address and Map
// Created favicon
// Create a new logo

Classroom
	Basic Kubernetes
	Advanced Kubernetes
	Docker Workshop

Online Instructor Led
	Kubernetes Workshop
	Docker Workshop
Seld Paced 
	Container Fundamentals
	Containers for Dev & QA

commad input output effect

https://samnewman.io/index.html

Consulting - 3 blocks

Calendly optional
Hourly consulting

Blog and Test swap
// Logo add guru and decrease the size
