    <!-- Section -->
    <section class="bgcolor3 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Learn from the experts</h3>
                    <p class="nom">We are committed to deliver world class trainings from our online (self paced and instructor led) and classroom trainings. Checkout our trainings on Docker, Kubernetes, DC/OS, Go etc. </p>
                </div>
                <div class="col-md-4">
                    <br>
                    <a href="{{site.baseurl}}/trainings/" class="btn btn-primary btn-lg">Get Started Now!</a>
                </div>
            </div>
        </div>
    </section>
