 <!-- Section -->
    <section class="bgcolor3 pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Customers & Partners</h2>
                        <p class="sub-heading">We have worked with some of the well knows companies.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/hp-enterprise-s.png" alt="" title="HP">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/formcept-s.png" alt="" title="Formcept">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/edb-s.png" alt="" title="EDB">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/Rakuten-s.png" alt="" title="Rakuten">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/Cisco_logo.png" alt="" title="CISCO">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/logoGrey.png" alt="" title="VMware">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/Mercedes_benz-2.png" alt="" title="Mercedes Benz">
                    </div>
                </div>
                
      <!--           <div class="col-md-4 col-md-offset-4">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}/img/Mercedes_benz-s.png" alt="" title="Mercedes Benz">
                    </div>
                </div> -->
                    <!-- <div class="col-md-3">
                        <div class="logo-box">
                            <img src="/logo-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="logo-box">
                            <img src="/logo-5.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="logo-box">
                            <img src="/logo-7.jpg" alt="">
                        </div>
                    </div> -->
            </div>
        </div>
    </section>