 <!-- Section -->
    <section class="bgcolor3 pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Customers & Partners</h2>
                        <p class="sub-heading">We have worked with some of the well knows companies.</p>
                    </div>
                </div>
                {% for item in site.data.data.customers %}
                
                <div class="col-md-3{% if forloop.index == 5 %} clearfix{% endif %}">
                    <div class="logo-box">
                        <img src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}" title="{{item.title}}">
                    </div>
  
                </div>
                {% endfor %}
            </div>
        </div>
    </section>