<!-- Section -->
    <section class="bgcolor3 pt-100 pb-80" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Amazingly Powerful Features</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-game-controller-b-outline"></i>
                        </div>
                        <h4>Realistic Gaming</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-mic-outline"></i>
                        </div>
                        <h4>Built-in Mic</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-settings"></i>
                        </div>
                        <h4>Fully Cutomizable</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-cloud-upload-outline"></i>
                        </div>
                        <h4>Free Cloud Storage</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-unlocked-outline"></i>
                        </div>
                        <h4>Child Lock</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box-1">
                        <div class="icon">
                            <i class="ion-ios-color-filter-outline"></i>
                        </div>
                        <h4>16 Million Colors</h4>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
    <!-- Section -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>More Awesome Features</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20">
                    <img src="/product-shot-2.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 mt-20">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-monitor-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">Ultra HD Display</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-speedometer-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">High Refresh Rate</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-color-filter-outline"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading">See every Color</h6>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>  