 <!-- Footer -->
    <div class="footer">
        <div class="footer-pri">            <!-- Primary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-box about-box">
                                <img style="filter: grayscale(100%)" src="{{site.baseurl}}/img/Cloud-Yuga-Guru-Logo-small.png" alt="{{site.title}}">     <!-- Replace with your logo -->
                            <br><br>
                            <p> We are here to help you learn and deploy cloud native application using containers. With our trainings, you would get in-depth knowledge on the subject and with our consulting services, we can guide to do the deployment.  
			    </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box links-box">
                            <h5 class="heading">Quick Links</h5>
                            <ul>
                                <li><a href="{{site.baseurl}}/about/">About Us</a></li>
                                <li><a href="{{site.baseurl}}/search/">Search</a></li>
                                <li><a href="{{site.baseurl}}/privacy/">Privacy Policy</a></li>
                                <li><a href="{{site.baseurl}}/terms/">T&C</a></li>
                                <li><a href="{{site.baseurl}}/refunds/">Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box social-box">
                            <h5 class="heading">Talk to us</h5>
                            <ul class="contact">
                                <li><a href="tel:+91 8861001308">+91 8861001308</a></li>
                                <li><a href="mailto:neependra@cloudyuga.guru">neependra@cloudyuga.guru</a></li>
                            </ul>
                            <hr>
                            <ul class="social">
                                <li><a href="https://twitter.com/cloudyuga"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/cloudyuga.guru/"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://github.com/cloudyuga/"><i class="ion-social-github"></i></a></li>
                                <li><a target="_blank" href="{{site.baseurl}}/feed.xml"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sec">            <!-- Secondary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">© 2017. All rights reserved</span>
                        <span class="copyright pull-right"> Developed by <a target="_blank" href="http://webjeda.com">webjeda</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

 