 <!-- Footer -->
    <div class="footer">
        <div class="footer-pri">            <!-- Primary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-box about-box">
                                <img style="filter: grayscale(100%)" src="{{site.baseurl}}/img/Cloud-Yuga-Guru-Logo-small.png" alt="{{site.title}}">     <!-- Replace with your logo -->
                            <br><br>
                            <p> We are here to help you learn and deploy cloud native application using containers. With our trainings, you would get in-depth knowledge on the subject and with our consulting services, we can guide to do the deployment.  
			    </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box links-box">
                            <h5 class="heading">Quick Links</h5>
                            <ul>
                                <li><a href="{{site.baseurl}}/about/">About Us</a></li>
                                <li><a href="{{site.baseurl}}/search/">Search</a></li>
                                <li><a href="{{site.baseurl}}/privacy/">Privacy Policy</a></li>
                                <li><a href="{{site.baseurl}}/terms/">T&C</a></li>
                                <li><a href="{{site.baseurl}}/refunds/">Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-box social-box">
                            <h5 class="heading">Talk to us</h5>
                            <ul class="contact">
                                <li><a href="tel:+91 8861001308">+91 8861001308</a></li>
                                <li><a href="mailto:neependra@cloudyuga.guru">neependra@cloudyuga.guru</a></li>
                            </ul>
                            <hr>
                            <ul class="social">
                                <li><a href="https://twitter.com/cloudyuga"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/cloudyuga.guru/"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://github.com/cloudyuga/"><i class="ion-social-github"></i></a></li>
                                <li><a target="_blank" href="{{site.baseurl}}/feed.xml"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sec">            <!-- Secondary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="copyright">© 2017. All rights reserved</span>
                        <span class="copyright pull-right"> Developed by <a target="_blank" href="http://webjeda.com">webjeda</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top Button -->
<!--     <a href="#top" id="backHome" class="scroll-link" style="display: none;"><i class="ion-ios-home-outline"></i></a> -->
    
    <!-- JQuery Version 2.2.4 -->
    <script src="{{site.baseurl}}/js/jquery.min.js" type="text/javascript"></script>
    
    <!-- Bootstrap Version 3.3.7 -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!-- Owl Carousel 2 JS -->
    <script src="{{site.baseurl}}/js/owl.carousel.min.js" type="text/javascript"></script>

    <!-- Classie JS -->
    <script async src="{{site.baseurl}}/js/classie.js" type="text/javascript"></script>

    <!-- Count To JS -->
    <script async src="{{site.baseurl}}/js/jquery.countTo.js" type="text/javascript"></script>

    <!-- Appear Js -->
    <script async src="{{site.baseurl}}/js/jquery.appear.js" type="text/javascript"></script>

    <!-- Custom JS -->
    <script async src="{{site.baseurl}}/js/script.js" type="text/javascript"></script>
    
    <!-- Hover JS -->
    <script async src="{{site.baseurl}}/js/bootstrap-dropdownhover.js" type="text/javascript"></script>

<!--     <script type="text/javascript">
        jQuery("body").prepend('<div id="preloader"><img src="/img/cloud.gif"></div>');
        jQuery(document).ready(function() {
            jQuery("#preloader").remove();
        });
    </script>
     -->
    
    {% if page.url != '/' %}
    <script type="text/javascript">

    function switch_nav(fragment) {
    var elements = document.querySelectorAll("div.archive");
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.add("hide");
    }

    elements = document.querySelectorAll("div.archive." + fragment);
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.remove("hide");
    }
    elements = document.querySelectorAll("nav.pills li");
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.remove("active");
    }
    elements = document.querySelectorAll("nav.pills li." + fragment);
    for (i = 0; i < elements.length; ++i) {
        elements[i].classList.add("active");
    }
};

document.addEventListener('DOMContentLoaded', function() {
  var fragment = window.location.hash.slice(1);
  if (fragment
      && document.querySelectorAll("div.archive." + fragment).length == 1) {
    switch_nav(fragment);
  };

  var elements = document.querySelectorAll("nav.pills a");
  for (i = 0; i < elements.length; ++i) {
    elements[i].onclick = function(){
      var fragment = this.href.split("#")[1];
      switch_nav(fragment);
      window.location.replace("#" + fragment);
      return false;
    };
  };
});
</script>   
    {% endif %}
