<div class="form-container">
    <div class="col-md-12 text-center">
        <h3>Subscribe to our newsletter</h3>
    </div>
    <form class="row" action="//guru.us13.list-manage.com/subscribe/post?u=e759d8392b3869df85162f2b8&amp;id=e6f0938d13" method="post" name="mc-embedded-subscribe-form" lpformnum="1">

            <div class="form-group col-md-6 col-md-offset-2">
                <input class="form-control" id="example-text-input-inline" type="text" name="EMAIL" placeholder="Leave your mail id here">
            </div>
             <div class="col-md-4">
               <button class="btn btn-success" name="subscribe"  type="submit">Subscribe!</button>
           </div>
        </form>
</div>
