<header class="">
       <!-- Navigation Bar-->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                <i class="ion-ios-more-outline"></i>
                            </button>
                            <a class="navbar-brand" href="{{site.baseurl}}/">
                                <img height="50" src="{{site.baseurl}}/img/cloudyuga-logo-new.svg" alt="{{site.title}}">     <!-- Replace with your logo -->
                            </a>
                        </div>

                        <div class="collapse navbar-collapse navbar-right" id="navigation">
                            <ul class="nav navbar-nav navbar-right">

                            <li><a href="#">Trainings <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                               <li><a href="#">Corporate</a></li>
                                <!-- <li><a href="#">Classroom Training</a></li> -->
                                <li>
                                 <a href="#">Classroom <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li>
                                        <a href="/trainings/basic-kubernetes/">Basic Kubernetes
                                        {% for item in site.data.schedule.classroom.basic-kubernetes %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}
                                     
                                        
                                        </a>
                                        
                                    </li>
                                    <li><a href="/trainings/advance-kubernetes/">Advanced Kubernetes
                                     {% for item in site.data.schedule.classroom.advanced-kubernetes %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>
                                    <li><a href="/trainings/docker/">Docker Workshop
                                     {% for item in site.data.schedule.classroom.docker-workshop %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>  
                                  </ul>
                                </li>
                                
                              <!--   <li class="divider"></li> -->

                                <li>
                                 <a href="#">Online Instructor Led<span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    
                                    <li><a href="/trainings/online-kubernetes/">Kubernetes Workshop
                                       {% for item in site.data.schedule.online-instructor.kubernetes-workshop %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>
                                    
                                    <li><a href="/trainings/online-docker/">Docker Workshop
                                    {% for item in site.data.schedule.online-instructor.docker-workshop %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>    
                                  </ul>
                                </li>

                                <li>
                                 <a href="#">Online Self Paced<span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                   
                                    <li><a href="/trainings/container_fundamentals/">Container Fundamentals
                                    {% for item in site.data.schedule.online-self.container-fundamentals %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>
                                    
                                    <li><a href="/trainings/container_for_dev_qa/">Container for Dev & QA
                                    {% for item in site.data.schedule.online-self.container-for-dev %}
                                        <br><span class="g-date"><small>{{item.date}}</small></span>
                                        {% endfor %}</a></li>    
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            
                            <li class=""> 
                                    <a href="{{site.baseurl}}/consulting/" class="scroll-link">Consulting</a>
                                </li>
                                
                              <li>
                                    <a href="{{site.baseurl}}/test-skills/" class="scroll-link">Test Your Skills</a>
                                </li>
                                
                          
                                <li>
                                    <a href="{{site.baseurl}}/blog/" class="scroll-link">Blog</a>          
                                </li>
                           
                                <li>
                                    <a href="{{site.baseurl}}/about/" class="scroll-link">About</a>         
                                </li>
                                                            
                            
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>