<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{page.author}}">
    
    {% seo %}
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link href="{{site.baseurl}}/css/main.css" type="text/css" rel="stylesheet">
    <!--Google Fonts--> 
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet">
    <!-- Respond.js and HTML shiv provide HTML5 support in older browsers like IE9 and 8 -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>