<div class="paypal" style="display: none">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LYFRSV3B8M9KC">
<button value="Register" class="razorpay-payment-button" type="image" name="submit" alt="PayPal – The safer, easier way to pay online!">Register</button>
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
</div>