<!-- Section -->
    <section class="pt-100" id="testimonials" style="background: url({{site.baseurl}}/img/pixels.png),linear-gradient(to top right, #000, #32449b)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2 class="white">What People Say About Us?</h2>
                        <p class="sub-heading white">Hundreds of customers have rated as one of the best.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial-slider">
                        <div class="slider-items owl-carousel">
                           
                           {% for item in site.data.data.testimonials %}
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}{{item.image}}" class="img-circle" alt="{{item.name}}">
                                    </div>
                                    <span class="testimonial-by">
                                        {{item.name}}, {{item.title}}
                                    </span>
                                    <div class="testimonial-body">
                                        <p>{{item.review}}</p>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
