<!-- Section -->
    <section class="pt-100" id="testimonials" style="background: url({{site.baseurl}}/img/pixels.png),linear-gradient(to top right, #000, #32449b)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2 class="white">What People Say About Us?</h2>
                        <p class="sub-heading white">Hundreds of customers have rated as one of the best.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial-slider">
                        <div class="slider-items owl-carousel">
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}/images/site/Vishal.jpg" class="img-circle" alt="Vishal">
                                    </div>
                                    <span class="testimonial-by">
                                        Vishal Sinha, Senior Architect - DevOps @Ellucian
                                    </span>
                                    <div class="testimonial-body">
                                        <p>I have taken several courses and this is by far the most organized and informative. Thanks Neependra Khare for creating a wonderful/full practical (hands-on) course.</p>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}/images/site/Partheeban.jpg" class="img-circle" alt="Pratheeban">
                                    </div>
                                    <span class="testimonial-by">
                                        Partheeban Palanisamy, Technical Consultant @HPE
                                    </span>
                                    <div class="testimonial-body">
                                        <p>Neependra has excellent knowledge on Docker and Kubernetes, the sessions were excellent. I would definitely recommend his training sessions to others. </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}/images/site/Ajeet.jpg" class="img-circle" alt="Ajeet">
                                    </div>
                                    <span class="testimonial-by">
                                       Ajeet S Raina, Docker Captain, {Code} Catalysts, Dell EMC R&D 
                                    </span>
                                    <div class="testimonial-body">
                                        <p>Kudos to CY School for bringing self-paced learning platform for container enthusiasts to keep abreast of latest changes in the container space. My 100% recommendation for all developers & operations team to try & learn new stuffs coming out of CY Garage. Well done @neependra & @CloudYuga Team. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
