
    <!-- Section -->
    <section class="pt-100 pb-80" id="process">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Offerings</h2>
                    </div>
                </div>
                
                {% for item in site.data.data.offerings %}
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                           <i class="icon {{item.icon}}"></i>
                        </div>
                        <div class="process-body">
                            <h5 class="heading">{{item.title}}</h5>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>   
