
    <!-- Section -->
    <section class="pt-100 pb-80" id="process">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Offerings</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                           <i class="icon ion-code"></i>
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Trainings</h5>
                            <p>We provide trainings on Docker, Kubernetes, DC/OS,  Go Language etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            <i class="icon ion-briefcase"></i>
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Consulting</h5>
                            <p>With our rich industry experience we'll help you adopt latest cloud and container technologies, so you can meet your business goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <div class="process-header">
                            <i class="icon ion-compose"></i>
                        </div>
                        <div class="process-body">
                            <h5 class="heading">Building Case Studies</h5>
                            <p>We can help you building case-studies, do product comparisons etc for cloud related products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
