---
layout: default
title: All Posts
---
<div class="container pb-80 page-container">
    <div class="row">
<div class="col-md-12"> 

<h2 class="post-title">{{page.title}}</h2>

<div class="masonry-container">
{% for post in paginator.posts %}
<a href="{{site.baseurl}}{{post.url}}">
<div class="item">
<div class="thumbnail">
    {% if post.image %}
        <img src="{{site.baseurl}}/images/blogs/{{post.image}}" alt="{{post.title}}">
    {% else %}
        <img src="{{site.baseurl}}/images/blogs/blog-fallback.jpg" alt="{{post.title}}">
    {% endif %}
    <div class="caption">
        <h4>{{post.title}}</h4>
        {% if post.description %}
        <p>{{post.description | truncate: 160}}</p>
        {% else %}
        <p>{{post.excerpt | strip_html | strip_newlines | truncate: 160}}</p>
        {% endif %}
    </div>
</div>
</div>
</a>
{% endfor %}
</div> 
</div>


{% include pagination.html %}

</div>
</div>


