---
layout: default
---


<div id="home" class="container page-container">
        <div class="row pb-100">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="post-title">{{page.title}}</h1>        
            {{content}}
            
            <br/>
                
            <a class="typeform-share button btn btn-primary btn-lg" href="https://cloudyuga.typeform.com/to/gyXPLF" data-mode="popup"  data-hide-headers=true data-hide-footer=true target="_blank">Apply </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>

    </div>

    
</div>
    <!-- /.container -->
