---
layout: default
---

<div class="container pb-80 page-container">
    <div class="row">
        <div class="col-md-12">
            <main role="main">
               <article>
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                           <h1 class="post-title">{{page.title}}</h1>
                       </div>
                   </div>
                {{content}}
                </article>
            </main>
        </div>
    </div>
</div>
