---
layout: default
---

<div class="container page-container pb-80">
    <div class="row">
       <div class="col-md-3 sidebar">
          
                    {% include author.html %} 
                       
                        {% if page.razor-pay %}
                           <div class="row author-button">
                           <div class="col-md-12">
                                  <button id="rzp-button2" class="razorpay-payment-button">{{page.razor-pay.text}}</button>
                            </div>
                            </div>
                        {% endif %}
                        
                        {% if page.school %}
                           <div class="row author-button">
                            <div class="col-md-12">                         
                               {% include school.html %}
                            </div>
                           </div>
                          {% endif %}
                        
                        
                        
                        
                    {% include share-fixed.html %} 
          
           
       </div>
        <div class="col-md-8">
            <main role="main">
               <article>
               <h1 class="post-title {% if page.title-center %} text-center {% endif %}">{{page.title}}</h1>
               {% if page.url contains '/blog' %}
               <p><small>{{ page.date | date: '%B %d, %Y' }}</small></p>
               {% else %}
               <p> </p>
               {% endif %}
                
                   
                   {{content}}
                    
                {% if page.url contains '/trainings/' %}
                      <hr>
                      <h2><strong>Upcoming Workshops</strong></h2>
                   <h3><strong>Classroom Training</strong></h3>
                     <div class="train">
                      {% if site.data.schedule.classroom.basic-kubernetes %}
                         <h4><strong>Basic Kubernetes</strong></h4>
                         <ul>
                          {% for item in site.data.schedule.classroom.basic-kubernetes %}
                          <li><a href="/trainings/basic-kubernetes/">{{item.date}}</a></li>
                          {% endfor %}
                          </ul>
                      {% endif %}
                      
                      {% if site.data.schedule.classroom.advanced-kubernetes %}
                         <h4><strong>Advanced Kubernetes</strong></h4>
                         <ul>
                          {% for item in site.data.schedule.classroom.advanced-kubernetes %}
                          <li><a href="/trainings/advance-kubernetes/">{{item.date}}</a></li>
                          {% endfor %}
                          </ul>
                      {% endif %}
                      
                      {% if site.data.schedule.classroom.docker-workshop %}
                         <h4><strong>Docker Workshop</strong></h4>
                         <ul>
                          {% for item in site.data.schedule.classroom.docker-workshop %}
                          <li><a href="/trainings/docker/">{{item.date}}</a></li>
                          {% endfor %}
                          </ul>
                      {% endif %}
                      </div>
                      <h3><strong>Online Instructor Led Training</strong></h3>
                        <div class="train">
                         {% if site.data.schedule.online-instructor.docker-workshop %}
                             <h4><strong>Kubernetes Workshop</strong></h4>
                             <ul>
                              {% for item in site.data.schedule.online-instructor.kubernetes-workshop %}
                              <li><a href="/trainings/online-kubernetes/">{{item.date}}</a></li>
                              {% endfor %}
                              </ul>
                          {% endif %}
                          
                         {% if site.data.schedule.online-instructor.docker-workshop %}
                             <h4><strong>Docker Workshop</strong></h4>
                             <ul>
                              {% for item in site.data.schedule.online-instructor.docker-workshop %}
                              <li><a href="/trainings/online-docker/">{{item.date}}</a></li>
                              {% endfor %}
                              </ul>
                          {% endif %}
                       </div>
                          
                   <h3><strong>Online Self Paced Training</strong></h3>
                             
                             <div class="train">
                              {% if site.data.schedule.online-self.container-fundamentals %}
                                 <h4><strong>Container Fundamentals</strong></h4>
                                 <ul>
                                  {% for item in site.data.schedule.online-self.container-fundamentals %}
                                  <li><a href="/trainings/container_fundamentals/">{{item.date}}</a></li>
                                  {% endfor %}
                                  </ul>
                              {% endif %}
                              {% if site.data.schedule.online-self.container-for-dev %}
                                 <h4><strong>Container Fundamentals</strong></h4>
                                 <ul>
                                  {% for item in site.data.schedule.online-self.container-for-dev %}
                                  <li><a href="/trainings/container_for_dev_qa/">{{item.date}}</a></li>
                                  {% endfor %}
                                  </ul>
                              {% endif %}
                           </div>
                      
                {% endif %}
                       
                {% if page.razor-pay %}
                   <div class="row pt-50 pb-50 author-button">
                    <div class="col-md-4 col-md-offset-4">                           
                       {% include razor-pay.html %}
                    </div> 
                    </div>
                {% endif %}

                  {% if page.school %}
                    <div class="row pt-50 pb-50 author-button">
                    <div class="col-md-4 col-md-offset-4">                           
                       {% include school.html %}
                    </div> 
                    </div>
                  {% endif %}

                  
                </article>
            </main>
           
           
           {% include form.html %}
      

               
               
<p class="categories">
{% if post %}{% assign categories = post.categories %}{% else %}{% assign categories = page.categories %}{% endif %}{% for category in categories %}<a class="label label-default" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category | capitalize}}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
 </p>
               
               
                
         <div class="share-buttons pt-50">
                  <strong>Share: </strong><!-- <i class="icon ion-ios-redo"></i> -->
                   <a class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
                          <i class="icon ion-social-facebook"></i> 
                        </a>

                        <a class="tw" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
                'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                          <i class="icon ion-social-twitter"></i> 
                        </a>

                      <a class="li" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=webjeda" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
                       <i class="icon ion-social-linkedin"></i> 
                        </a>
                        <a class="em" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}">
                            <i class="icon ion-android-mail"></i> 
                        </a> 
               
               </div>
               
               
               
               
                <div class="pagination">
                {% if page.previous.url %}
                <a href="{{site.baseurl}}{{page.previous.url}}"><span class="pagination-item older active-link">Older</span></a>
                {% else %}
                <span class="pagination-item older">Older</span>
                {% endif %}
                {% if page.next.url %}
                <a href="{{site.baseurl}}{{page.next.url}}"><span class="pagination-item newer active-link">Newer</span></a>
                {% else %}
                <span class="pagination-item newer">Newer</span>
                {% endif %}
                </div>  
                
                  
                {% include disqus.html %}
  
        </div>
    </div>
</div>
